@font-face {
  font-family: 'glyphicons-halflings-regular';
  font-style: normal;
  font-weight: normal;
  src: url(glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('glyphicons-halflings-regular.woff') format('woff'),
       url('glyphicons-halflings-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Museo';
  font-style: normal;
  font-weight: bold;
  src: url('glyphicons-halflings-regular.eot');
  src: url(glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('glyphicons-halflings-regular.woff') format('woff'),
       url('glyphicons-halflings-regular.ttf') format('truetype');
}
